.container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding:10px 0;
  }
  .logo{
    margin-left: -100px;
    margin-right: 0;
  }

  .left-side{
display: flex;
flex-direction: row;
  }
  
  /* https://codepen.io/isaaclouzeiro/pen/YzRzmwQ */

  .left-side,.left-button,
  .right-button {
    align-self: center;
    padding: 10px;
    font-size: 14px;
    margin: 0; 
  }

  .right-button {
    height: 48px;
color:#ffffff ;
text-transform: uppercase;
background:#000000 ;
font-size: 0.9rem;
line-height: 24px;
padding: 0 12px;
border: none;
border-radius: 18px;
outline: none;
  }
  
  .center-list {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .center-list li {
    margin: 0 20px;
    font-weight: 400;
    letter-spacing: 1px;
    font-size: 0.9rem;
  }
  .center-list li a{
 text-decoration: none;
 color: black;
  }

  .center-list li a:hover{
color:#7864fa;
  }

  .logoimg{
    width: 80px;
    height: 80px;
  }